name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-20.04, windows-2019, macos-11]
        os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.13.1

      - name: setup
        run: bash setup.sh && ls

      - uses: actions/upload-artifact@v2
        with:
            name: my-artifact
            path: setup.py

      - name: List
        run: pwd && ls

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: cp36-manylinux_x86_64 cp36-win_amd64 cp36-macosx_x86_64
          CIBW_BEFORE_ALL_LINUX: yum install -y lapack-devel
          CIBW_BEFORE_ALL_MACOS: brew reinstall gcc lapack && echo $PATH && ln -s /usr/local/bin/gcc-13 /usr/local/bin/gcc && ln -s /usr/local/bin/g++-13 /usr/local/bin/g++ && ls /usr/local/bin/gcc* && which gcc && which g++
          CIBW_BEFORE_ALL_WINDOWS: choco install -y lapack-devel
          CIBW_TEST_COMMAND: >
              python {project}/test.py
        #    ...
        # with:
        #   package-dir: .
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"

      # - uses: actions/upload-artifact@v3
      #   with:
      #     path: ./wheelhouse/*.whl
