name: Build

on: [push, pull_request]

jobs:
  setup:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v3
      - name: dependencies
        run: |
            sudo apt update -qq
            sudo apt install swig libarmadillo9 libarmadillo-dev cmake
      - name: configure
        run: mkdir build && cd build && cmake ..
      - name: build
        run: cd build && VERBOSE=1 make package-python
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-20.04, windows-2019, macos-11]
        os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v3
      - name: ls
        run: pwd && ls
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.13.1
        env:
          CIBW_BUILD: cp36-manylinux_x86_64 cp36-win_amd64 cp36-macosx_x86_64
          CIBW_BEFORE_ALL_LINUX: yum install -y lapack-devel
          CIBW_BEFORE_ALL_MACOS: brew reinstall gcc lapack && echo $PATH && ln -s /usr/local/bin/gcc-13 /usr/local/bin/gcc && ln -s /usr/local/bin/g++-13 /usr/local/bin/g++ && ls /usr/local/bin/gcc* && which gcc && which g++
          CIBW_BEFORE_ALL_WINDOWS: choco install -y lapack-devel
          CIBW_TEST_COMMAND: >
              python {project}/test.py
        #    ...
        # with:
        #   package-dir: .
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"

      # - uses: actions/upload-artifact@v3
      #   with:
      #     path: ./wheelhouse/*.whl
